page-home {
	.card-title {
	  position: absolute;
	  top: 36%;
	  font-size: 2.0em;
	  width: 100%;
	  font-weight: bold;
	  color: #fff;
	}

	.list {
		margin: 68px -64px !important;
	}

	h1 {
		color :  #006cbf !important;
		font-size: 3.5em !important;
	}

}